.board {
    background-color: green;
}


.evensqr {
    background-color: red;
    width: 30vw;
    height: 30vw;

}

.oddsqr {
    background-color: blue;
    width: 30vw;
    height: 30vw;
}


.square {
    float: left;

}